.grow1 { flex-grow: 1; }

.character-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    border: 0.1rem solid #333333;
    background-color: #ccc;
}

.character-image {
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    margin-right: 1.25rem;
}

.character-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    flex-grow: 1;
    padding: 1rem;

}

.character-info h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 2rem;
    color: #333;
}

.character-info p {
    margin: 0.4rem 0;
    font-size: 1rem;
    color: #666;
}