.home {
    position: absolute;
    width: 100%;
}

.home h1 {
    font-family: 'death star', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    color: #FFD700;
    text-align: center;
    letter-spacing: .2rem;
}

.home h2 {
    font-family: 'death star', sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #FFD700;
    text-align: center;
    letter-spacing: .2rem;
}

.home p {
    font-family: 'arial', sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    color: #fff;
    text-align: center;
}

.home button{
    background-color: #333;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .2rem;
    cursor: pointer;
    border: none;
    margin: 1rem 0;
}

.home button:hover{
    background-color: #FFD700;
    color: #333;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.show-character-link{
    text-decoration: none;
    color: #fff;
}