* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Death Star', sans-serif;
  src: url(../public/death-star.regular.otf);
}

@font-face {
  font-family: 'Star Jedi', sans-serif;
  src: url(../public/StarJediHollow-A4lL.ttf);
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../public/Roboto-Thin.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #555;
  font-family: 'arial', sans-serif;
}

.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 0 1rem;
  margin: 0rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-family: 'arial', sans-serif;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  gap: 1rem;
}

.header {
  background-color: #000000;
  display:flow-root;
  color: #fff;
  text-align: center;
}

.header h1 {
  font-family: 'Star Jedi', sans-serif;
  color: #FFD700;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.header p {
  font-family: 'arial', sans-serif;
  font-size: .75rem;
  color: #fff;
  padding: 0%;
  margin: 0%;
}

.page-title {
  display: block;
  background-color: #555;
  font-family: 'Star Jedi', sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 1rem 0;
  color: #FFD700;
}

.filter-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}

.select {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: .5rem;
  border-radius: .2rem;
  cursor: pointer;
}


.card-wrapper {
  width: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  padding: 1rem;
}

.card-view {
  background-color: #fff;
  border-radius: .2rem;
  padding: 1rem;
  box-shadow: 0 0 .2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.card-view:hover {
  transform: scale(1.05);
  transition: transform .3s;
}

.card-view img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: .2rem;
}

.card-view h2 {
  font-family: 'Death Star', sans-serif;
  letter-spacing: .1rem;
  font-size: calc(.5rem + 1vw);
  margin: 0;
  color: #333;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
}

.card-view-link {
  text-decoration: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.page-item {
  background-color: #a19f9f;
  color: #fff;
  padding: .5rem;
  border-radius: .2rem;
  cursor: pointer;
  list-style: none;
  border: none;
}

.active {
  background-color: #2F2F2F;
}

.page-link {
  color: #fff;
  text-decoration: none;
}

.loading-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
